Repository eclass/grade-scales: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "lib/**/*.ts": ["eslint --fix", "prettier --write"],
  "{lib,.vscode}/**/*.{js,json,yml}": ["prettier --write"],
  "*.{json,md,js,yml}": ["prettier --write"]
}

fix(grades): format null grades to 0
  .vscode/settings.json
  lib/grades/gradeFormat.ts
  lib/grades/gradeRound.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7187909f965dc7293ff0d587ccec75071e3c6852
Due: none

chore(release): 1.5.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(getGrade): se respeta el puntaje mínimo para la nota de aprobación
  lib/getGrade.ts
Due: eslint --fix, prettier --write

fix: cache false de jobs
  .github/workflows/nodejs.yml
Due: prettier --write

fix: cache false
  .github/workflows/nodejs.yml
Due: prettier --write

fix: nodejs jobs release
  .github/workflows/nodejs.yml
Due: prettier --write

fix: cambiamos en nodejs github wf los actions
  .github/workflows/nodejs.yml
Due: prettier --write

fix(getGrade): formateamos y cambiamos if a eqeqeq
  lib/getGrade.ts
Due: eslint --fix, prettier --write

fix: releaserc
  .releaserc.json
Due: prettier --write

fix: SEMANTIC_RELEASE_TOKEN
  .github/workflows/nodejs.yml
Due: prettier --write

fix: compilado dist
  dist/convertToScale.js
  dist/getAverage.js
  dist/getGrade.d.ts
  dist/getGrade.d.ts.map
  dist/getGrade.js
  dist/getGradeFormatted.js
  dist/getGrades.d.ts
  dist/getGrades.d.ts.map
  dist/getGrades.js
  dist/grades/gradeFormat.d.ts.map
  dist/grades/gradeFormat.js
  dist/grades/gradeIsApproved.js
  dist/grades/gradeRound.d.ts.map
  dist/grades/gradeRound.js
  dist/grades/gradeStatus.d.ts.map
  dist/grades/gradeStatus.js
Due: prettier --write
