Repository eclass/grade-scales: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(husky): migrate config to .husky
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: prettier --write

ci(renovate): update to new way extend
  .renovaterc.json
Due: prettier --write

chore(scripts): allow apply format to more proyect files
  package.json
Due: prettier --write

style(commitlint): apply prettier [skip ci]
  .commitlintrc.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency ajv to 6.12.3 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-promise to v5.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency ts-node to v10.7.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4.6.2
  package-lock.json
  package.json
Due: prettier --write

fix(grade-round): update redondeo cuando hay solo 1 decimal
  lib/grades/gradeRound.ts
Due: eslint --fix, prettier --write

chore(deps): update dependency husky to v7.0.4
  package-lock.json
  package.json
Due: prettier --write

fix(release): add custom rules and release notes generator
  .releaserc.json
  releaserules.js
Due: prettier --write

chore(release): 1.5.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  344e10c13bfb518284100d3596cface767e6e722
Due: none

chore(rules): update linter
  releaserules.js
Due: prettier --write

chore(deps): update dependency marked to 4.0.10 [security]
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency minimist to 1.2.6 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency node-fetch to 2.6.7 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency trim-off-newlines to 1.0.3 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.26.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v12
  package-lock.json
  package.json
Due: prettier --write

fix(grade-format): correccion en escala peru, cuando es redondeo de 1 digito
  lib/grades/gradeFormat.ts
  lib/types.d.ts
Due: eslint --fix, prettier --write

chore(release): 1.5.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6f3c802ab83c34191115f43e81dcbfda5b594ac7
Due: none

fix(grade-status): corregimos estado cuando el minimo escala es 0
  lib/grades/gradeStatus.ts
Due: eslint --fix, prettier --write

chore(release): 1.5.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6a48d9f09f960bb964bbc487c141a8337758a1c6
Due: none

fix(grade-status): corregimos logica para evaluar pendiente
  lib/grades/gradeStatus.ts
Due: eslint --fix, prettier --write

chore(release): 1.5.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e1c6bac11249182a25ad770555614ffca9d9d38c
Due: none

Path conditions:
  eslint --fix: any of: lib/**/*.ts
  prettier --write: ((any of: lib/**/*.ts) or (any of: {lib,.vscode}/**/*.{js,json,yml})) or (any of: *.{json,md,js,yml})
